nav {
	background-color: #111;
	padding-left: 2rem;
	padding-right: 2rem;
	margin-bottom: 2rem;
}

.pageSubmenu {
	main.container {
		nav.submenu {
			ul {
				li {
					cursor: pointer;

					&.active {
						color: yellow;
					}

					&:hover {
						animation: rubberBand;
						animation-duration: 1s;
						background-color: red;
					}
				}
			}
		}
	}

	.burgermenu {
		.menuArea {
			display: flex;
			justify-content: flex-end;
		}	
		.menuItems {
			display: flex;
			justify-content: flex-end;
		}	
	}

}