nav {
	background-color: #111;
	padding-left: 2rem;
	padding-right: 2rem;
	margin-bottom: 2rem;
}

.pageSubmenu {
	main.container {
		nav.submenu {
			ul {
				li {
					cursor: pointer;
					&.active {
						color: yellow;
					}
				}
			}
		}

	}

}